<div class="home-block">
  <h1>A PIE Y REMO</h1>
  <h4>Más allá del cemento</h4>
  <div class="col-wrapper">
    <div class="small-col">
      <img class= "bio" src="/assets/images/team.jpg" alt="Equipo A Pie y Remo"/>
    </div>
    <div class="large-col">
      <p>
        <em>A Pie y Remo</em> nació de nuestras aventuras en Canadá y los Estados Unidos. Al encontrar poca información sobre actividades al aire libre en nuestra lengua original, decidimos compartir estas experiencias en español para motivar a la comunidad hispanohablante a recorrer estos bellos lugares.
      </p>
      <p>
        Somos Eduardo y Jess. Es tiempo de abrochar los cordones, asegurar la canoa y comenzar el viaje. Prometemos muchas aventuras, montañas, atardeceres espectaculares, mosquitos, mochilas pesadas y sobre todo información entretenida y simple para que la tengas en cuenta en tus próximos viajes.
      </p>
    </div>
  </div>
</div>
