html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'PT Sans', helvetica, arial, sans;
  line-height: 1.5;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/*GLOBAL STYLES */
a {
  color: #009156;
  font-weight: bold;
  text-decoration: none;
}
a:hover, a:active {
  color: #555;
}
body {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
}
h1,h2,h3,h4,h5,h6 {
  color: #555;
  font-family: 'PT Sans', helvetica, sans;
  font-weight: bold;
  padding-bottom: 0.5em;
}
h1 {
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
  font-size: 2em;
}
h2 {
  letter-spacing: 0.2em;
}
h3 {
  letter-spacing: 0.1em;
}
p {
  color: #222;
  padding-bottom: 1em;
  text-align: justify;
}
img {
  background-position: center;
  background-size: cover;
  padding-top: 3em;
  text-align: center;
  width: 100%;
}
ul {
  margin-bottom: 1em;
  padding: 0 2em;
}
li {
  list-style: none;
}
li:before {
  content: "\f101";
  font-family: FontAwesome;
  margin-right: 1em;
}
.main-content {
  flex-direction: column;
  flex: 1 1 auto;
}
.side-content {
  background: rgba(213, 63, 0, .5);
  box-sizing: border-box;
  flex: 1 1 5vw;
  max-width: 30vw;
  padding: 50vh 5vh;
  text-align: center;
}
.content-container {
  box-sizing: border-box;
  flex: 1 1 auto;
  padding-left: 5vh;
  padding-right: 5vh;
  width: 100%;
}
.anchor {
  opacity: 0;
}
.img-caption {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  padding-bottom: 2em;
}
.img-caption + p {
  padding-top: 2em;
}

/* FORM STYLES */
input {
  height: 5vh;
}
textarea {
  height: 30vh;
}
.action-button {
  margin-top: 2em;
}
.action-button a {
    border: 5px solid #D53F00;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #D53F00;
    color: #fff;
    font-size: 1rem;
    padding: .4em .5em;
    opacity: 0.8;
}
.action-button a:hover, .action-button a:active {
  opacity: 1;
}
.input-form {
  border: 2px solid #009156;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  margin: 4vh auto;
  max-width: 600px;
  padding: 1vh 1vh;
  text-align: left;
  width: 100%;
}
.input-form:focus {
  border: 2px dashed #009156;
}
.submit-button, .snipcart-add-item {
  background-color: #009156;
  border: 5px solid #009156;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  margin-bottom: 2em;
  padding: .4em .5em;
  opacity: 0.8;
}
.submit-button:active, .submit-button:hover, .snipcart-add-item:active, .snipcart-add-item:hover {
  opacity: 1;
}
#mc_embed_signup {
  display: block;
  margin-top: 0;
  width: 100%;
}
#mc_embed_signup .clear, #mc_embed_signup button[type=submit] {
  background-color: #009156;
  width: 100%;
  max-width: 100%;
}
#mc_embed_signup input.email {
  max-width: 100%;
}
.videoWrapper {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0;
}
.videoWrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.videohome {
  margin: auto;
  padding: 3vh 0;
  background-attachment: fixed;
  background-size: cover;
  max-width: 1080px;
}

/* HEADER STYLES */
.banner {
  color: #fff;
  background-color: #D53F00;
  box-sizing: border-box;
  padding: 1vh 1vh;
  text-align: center;
  z-index: 10;
}
.header {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 30vh;
  margin-bottom: 8vh;
  width: 100%;
}
.header-logo {
  background-color: #fff;
  box-sizing: border-box;
  display: block;
  flex: 1 1 auto;
  text-align: center;
}
.header-logo img {
  height: 22vh;
  width: auto;
}
.header-nav {
  flex: 0 1 auto;
  text-align: center;
  vertical-align: center;
}
.header-nav > li {
  display: inline-block;
  margin-left: 2em;
}
.header-nav > li:before {
    content: none;
}
.header-nav a {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
}
.header-nav a:hover, .header-nav a:active {
  color: #009156;
}
.header-nav > li:last-child a {
  color: #009156;
}
.header-nav > li:last-child a:hover {
  color: #555;
}
.header-nav > .highlight a {
  color: #D53F00;
}
.header-nav > .highlight a:hover {
  color: #555;
}
.header-nav a, .drop-trigger {
  color: #555;
}
.nav-links a, .drop-trigger, .show-mobile-menu {
  font-size: 0.8rem;
  font-weight: bold;
}
.sidebar {

}

/* DROPDOWN STYLES */
.dropdown {
  position: relative;
}
.dropdown li:before {
  content: none;
}
.dropdown:hover .drop-menu {
  display: block;
}
.dropdown:hover .drop-trigger:after {
  border-color: #009156 transparent transparent;
}
.drop-trigger {
  display: inline-block;
  padding-right: 1em;
  position: relative;
}
.drop-trigger:after {
  border: 0.3em solid;
  border-color: #fff transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0.3em;
  width: 0;
}
.drop-menu {
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent #fff;
  content: "";
  height: 0;
  position: absolute;
  right: 1em;
  top: -0.1em;
  width: 0;
}
.drop-menu li {
  background-color: #fff;
}
.drop-menu li ~ li {
  border-top: 1px dotted rgba(34,34,34,0.9)
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  color: #555;
  font-size: 0.5em;
  padding: 1em 1em 0.25em;
  text-align: right;
  text-transform: uppercase;
}
.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
.drop-menu a {
  color: #555;
  display: block;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(255,122,66,0.7);
  color: #555;
}

/* MOBILE MENU */
.mobile-about, .mobile-menu-check,
.show-mobile-menu, .mobile-only a {
  display: none;
}
/* HOME STYLES */
.bio {
  border-radius: 120px;
  width: 100%;
  height: auto;
  padding-top: 0;
}
.home {
  box-sizing: border-box;
  text-align: center;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.home h1 {
  font-size: 3rem;
  padding-bottom: .5vh;
}
.home h2 {
  font-size: 2rem;
  padding-bottom: 4evh;
  padding-top: 4vh;
}
.home h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.home h4 {
  padding-bottom: 5vh;
  padding-top: .5vh;
}
.home-block {
  padding: 10vh 0;
}
.home-block .col-wrapper {
  flex-direction: column;
}

/* COLUMNS */
.col-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  padding: 5vh 0 2vh;
  width: 100%
}
.home-image {
  box-sizing: border-box;
  position: relative;
}
.home-image img {
  height: 60vh;
  padding: 0;
  margin: 0;
}
.one-col .home-image img {
  height: 65vh;
}
.home-image img {
  padding: 0;
  object-fit: cover;
}
.three-col .home-image img {
  border-radius: 20px;
  height: 50vh;
}
.image-title {
  height: auto;
  background-color: #000;
  opacity: 70%;
  position: absolute;
  bottom: 2vh;
  width: 100%;
}
.home-image:hover {
  opacity: 85%;
}
.image-tag {
  height: auto;
  background-color: #D53F00;
  opacity: 90%;
  position: absolute;
  bottom: 3vh;
  right: 1vh;
  width: auto;
}
.one-col {
  box-sizing: border-box;
  flex: 1 1 100%;
  vertical-align: middle;
  order: 0;
}
.one-col h3, .two-col h3, .three-col h3 {
  color: #fff;
  padding: 2vh 3vh;
  text-transform: uppercase;
  font-family: 'Baloo 2';
}
.one-col h3 {
  font-size: 2em;
}
.two-col {
  box-sizing: border-box;
  flex: 1 1 40%;
  order: 1;
}
.three-col {
  box-sizing: border-box;
  flex: 1 1 25%;
  padding: 1vh;
}
.large-col {
  box-sizing: border-box;
  flex: 1 1 60%;
  padding: 1vh;
}
.small-col {
  box-sizing: border-box;
  flex: 1 1 30%;
  padding: 1vh;
}

/*SOCIAL LINKS*/
.social-link {
  background-color: #fff;
  border-radius: 99px;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  padding-top: 0.85em;
  text-align: center;
  vertical-align: middle;
  width: 2.5em;
}
.social-link:hover, .social-link:active {
  opacity: 0.7;
}
.social-list {
  list-style: none;
  padding: 0;
}
.social-list li {
  display: inline-block;
}
.social-list li:before {
  content: none;
}
.share-bar {
  margin: 2em 0;
}
.share-bar .social-link {
  background: #fff;
  border: 0.04em solid #222;
  color: #222;
  padding-top: 0.75em;
}
.share-bar li ~ li {
  margin-left: 1em;
}
/* FOOTER STYLES */
.cc {
  font-size: 0.7em;
  padding-bottom: 2em;
}
.cc img {
  width: 10vh;
  margin-top: 0;
  padding-top: 1vh;
}
.footer {
  align-items: center;
  background-color: #222;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vh 0;
  text-align: center;
  width: 100%;
}
.footer p, .footer h3, .footer h4 {
  color: inherit;
  text-align: center;
}
.footer .social-link {
  background-color: #222;
  color: #fff;
}
.footer .subscribe {
  display: block;
  width: 20vw;
}
.top-shortcut {
  border: none;
  border-radius: 99px;
  box-sizing: border-box;
  bottom: 2vh;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  opacity: 0.7;
  padding-top: 0.75em;
  position: fixed;
  right: 6vh;
  text-align: center;
  vertical-align: middle;
  width: 2.5em;
  z-index: 20;
}
.top-shortcut:active, .top-shortcut:hover {
  opacity: 1;
}

/* PAGE STYLES */
.page {
  margin: 10vh auto 15vh;
  max-width: 980px;
  width: 85vw;
}
.page h1 {
  font-size: 3em;
  padding-bottom: 1em;
  text-align: center;
}
.page h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  text-align: center;
}
.page h4 {
  margin: 1em 0;
  text-align: center;
}


/* BLOG STYLES */

.hero-posts {
  background-position: center center;
  height: 85vh;
  background-size: cover;
  box-sizing: border-box;
  padding: 10vh 20vh;
  text-align: center;
}
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(34, 34, 34, 0.3);
  margin-top: 4em;
  padding-top: 4em;
}
.blog-posts .post-header {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}
.blog-posts .posts-image {
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin-bottom: 1.5em;
}
.blog-title-list {
  padding: 0;
}
.blog-title-list li:before{
  content: none;
}
/* POST STYLES */
.google-map {
  background-position: center;
  text-align: center;
  height: 50vh;
  margin-top: 5vh;
}
.portrait-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  width: 50%;
}
.portrait-photo .caption {
  padding-top: 1em;
}
.post {
  width: 100%;
}
.post li {
  line-height: 2;
  margin: 0;
}
.post .quote {
  letter-spacing: 0.1em;
  line-height: 2;
  font-size: 1.3rem;
  font-style: italic;
  margin: 2em 2em 1em 2em;
  text-align: justify;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
  text-transform: capitalize;
}
.post-aside {
  border: 3px dashed #009156;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
  clear: both;
  font-size: 0.8em;
  margin: 0 0 2em 2em;
  overflow-x: hidden;
  padding: 1em 2em;
  width: 15vw;
}
.side-content .post-aside {
  margin: 5vh 0;
  text-align: center;
  width: 100%;
}
.post-aside ul {
  list-style: none;
}
.post-aside li {
  margin-bottom: 1em;
}
.post image {
  padding: 0;
  margin: 0;
}
.post-aside a {
  color: #555;
  font-weight: bold;
  text-transform: capitalize;
}
.post-aside a:hover, .page a:active {
  color: #009156;
}
.post-byline {
  font-size: 0.9rem;
  font-style: italic;
  margin-right: 2em;
}
.post-content,
.post-footer {
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.post-content {
  font-size: 1.1rem;
  line-height: 2;
}
.post-footer {
  border-top: 1px solid rgba(34, 34, 34, 0.3);
  font-size: 0.8em;
  font-style: italic;
  margin-top: 3em;
  padding-top: 2em;
}
.post-nav {
  margin-top: 4em;
  text-align: center;
}
.policy {
  margin-bottom: 1em;
  padding-top: 4em;
}

/* BROWSE BY REGION STYLES */
.region-posts {
  margin-bottom: 10em;
}
.by-region .post-tags {
  font-size: 0.75em;
  font-style: italic;
}
.by-region ~ .by-region {
  margin-top: 2em;
  padding-top: 2em;
}
.patagonia-map svg {
  max-height: 90vh;
  width: 100%;
  background-position: center;
  margin: 2em 0;
}
.patagonia-map g a {transition: 0.6s opacity;}
.patagonia-map g a:hover, .patagonia-map g a:active {opacity: 0.5;}
.patagonia-map-container {
  text-align: center;
}
.patagonia-map-container a {
  font-size: 0.8em;
}

/* TAG STYLES */
.tag-posts {
  margin-bottom: 10em;
}
.by-tag .post-tags {
  font-size: 0.75em;
  font-style: italic;
}
.by-tag ~ .by-tag {
  margin-top: 2em;
  padding-top: 2em;
}
.site-tag a {
  display: inline-block;
}
.tag-cloud {
  margin-bottom: 1em;
}
.page > .tag-cloud {
  margin: 1em auto 5em auto;
  border: 3px dashed #066C6C;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1em;
  max-width: 50vh;
  text-align: center;
}

/* MOBILE STYLES */
@media (max-width: 1200px) {
  .bio {
    padding: 0;
  }
  .content-container {
    padding-left: 2vh;
    padding-right: 2vh;
  }
  .footer .subscribe {
    width: 32vw;
  }
  .header {
    height: 16vh;
    margin-bottom: 3vh;
  }
  .header-logo img {
    height: 6vh;
  }
  .home h1 {
    padding-top: 0;
    margin-top: 0;
  }
  .home-block {
    padding-top: 0;
  }
  .image-tag {
    right: .5vh;
  }
  .image-tag h3 {
    font-size: 1.1em;
    padding-left: 1vh;
    padding-right: 1vh;
  }
  .footer .header-logo img {
    height: 6vh;
  }
  .full-hero {
    padding: 8vh;
  }
  .large-col {
    padding: 1em 2em;
  }
  .small-col {
    padding-top: 1vh;
  }
  .side-content {
    padding: 30vh 1vh;
  }
  .blog-column {
    width: 80vw;
  }
  .three-col .home-image img {
    height: 40vh;
  }
  .page h1 {
    margin: 0;
    padding: 0;
  }
  .page {
    margin-top: 1vh;
  }
  .social-list ul {
    padding: 0;
  }


}
@media (max-width: 975px) {
  body {
    flex-direction: column;
    max-width: 100vh;
  }
  h1 {
    margin-bottom: 0;
    padding-bottom: .1em;
  }
  html {
    padding: 0;
  }
  a:active {
    background-color: rgba(255,255,255,0.1);
  }
  .main-content {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .content-container {
    padding-left: 0;
    padding-right: 0;
  }
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after, .post-aside, .side-content, .top-shortcut, .cc-text {
    display: none;
  }
  .image-tag {
    right: 3vh;
  }
  .image-tag h3 {
    font-size: 1.1em;
  }
  .page {
    margin-top: 5vh;
  }
  .page h2 {
    margin-top: 1em;
  }
  .home-block {
    padding-bottom: 0;
  }
  .video-home {
    padding-top: 0;
  }
  /* HEADER STYLES */
  .header {
    flex-direction: row;
    height: 11vh;
    margin-bottom: 6vh;
    padding-top: 0vh;
    padding-bottom: 1vh;
  }
  .header-nav {
    margin-top: 3vh;
  }
  .header-logo {
    padding-left: 2em;
    padding-top: 0;
    position: relative;
    text-align: left;
  }
  .header-logo img {
    height: 8vh;
  }
  .nav-links a {
    font-size: 3.25vw;
  }
  /* MOBILE MENU */
  .mobile-only a {
    display: inline-block;
  }
  .show-mobile-menu {
    display: block;
    float: right;
    font-size: 1.3em;
    margin-top: 0;
    padding: 3em 3em 1.5em 1.5em;
    position: relative;
  }
  .header-nav {
    background-color: #fff;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 20;
  }
  .header-nav > li {
    display: block;
    margin-top: 1.5em;
    margin-left: 0;
  }
  .header-nav li ~ li {
    border: 0;
    padding: 0;
  }
  .header-nav li:first-child {
    margin-top: 1em;
  }
  .header-nav li:last-child {
    margin-bottom: 1em;
  }
  /* HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #fff;
    box-sizing: border-box;
    color: #555;
    content: "x";
    font-weight: bold;
    left: 0;
    margin-right: 2em;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
    z-index: 21;
  }

  /* BLOG STYLES */
  .post-byline {
    display: block;
    margin-bottom: 1em;
    margin-right: 0;
  }
  .page h1 {
    font-size: 2em;
  }

  /* SOCIAL STYLES */
  .fixed-social {
    display: none;
  }
  .social-list {
    display: block;
  }

  /* HOME STYLES */
  .full-hero {
    padding: 8vh;
  }
  .home h1, .home h2 {
    letter-spacing: 0.25em;
  }
  .columns {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .mobile-about {
    display: block;
  }

  /* FOOTER STYLES */
  .footer {
    flex-direction: column;
  }
  .footer .show-mobile-menu, .footer-contact, .footer .header-logo {
    display: none;
  }
}
@media (max-width: 800px) {
  .hero-posts {
    height: 45vh;
  }
}
@media (max-width: 500px) {
  ul {
    padding: 0;
  }
  .contact {
    padding: 0 1vh;
  }
  .footer .subscribe {
    width: 60vw;
  }
  .post .quote {
    letter-spacing: 0.05em;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .header {
    padding-top: 3vh;
    padding-bottom: 4vh;
  }
  .heading-logo img {
    padding: 0;
  }
  .full-hero {
      padding: 7vh 2vh;
  }
  h1 {
    letter-spacing: .1em;
    padding-top: 0;
  }
  .home h2 {
    padding-bottom: 1rem;
  }
  .home h3 {
    font-size: 1.1rem;
    letter-spacing: 0;
  }
  .col-wrapper {
    flex-direction: column;
  }
  .three-col .home-image img {
    border-radius: 20px;
    height: 40vh;
  }
  .three-col .home-image {
    padding-left: 5vh;
    padding-right: 5vh;
  }
  .image-tag {
    right: 8vh;
  }
  .image-tag h3 {
    padding: 1vh;
  }
}
@media (max-width: 400px) {
  .home h1 {
    font-size: 2rem;
  }
  .home h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 350px) {
  .social-label {
    display: none;
  }
}
