---
title: Categorías
description: Descubre aventuras por categoría.
layout: default
permalink: /categorias/
---
<div class="page">
  <h1>Descubre por Categoría</h1>

  {% include tagCloudEs.html %}

  <div class="tag-posts">
    <a name="camping" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="tag-header">Camping</h2>
    {% include tag-camping.html %}
  </div>
  <div class="tag-posts">
    <a name="canoa" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="tag-header">Canoa</h2>
    {% include tag-canoa.html %}
  </div>
  <div class="tag-posts">
    <a name="cultura" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="tag-header">Cultura</h2>
    {% include tag-cultura.html %}
  </div>
  <div class="tag-posts">
    <a name="senderismo" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="tag-header">Senderismo</h2>
    {% include tag-senderismo.html %}
  </div>
  <div class="tag-posts">
    <a name="trail-running" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="tag-header">Trail Running</h2>
    {% include tag-trailRunning.html %}
  </div>
  <div class="tag-posts">
    <a name="vanlife" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="tag-header">Van Life</h2>
    {% include tag-vanlife.html %}
  </div>

</div>
