---
layout: default
---

<div class="post">
  <div class="hero-posts" style="background-image:url({{ page.postHero }})"></div>
  <article class="page">
    <header class="post-header">
      <h1>{{ page.title }}</h1>
      <div class="post-byline">
        por
         {{ page.author }}
        <span> | Última actualización {% include date.html date=page.date %} {{ day }} {{ month }} {{ year }}</span>
      </div>
      {% include share-bar.html %}
    </header>
    <div class="post-content">
      {{ content }}
    </div>

    <div class="post-nav">
    {% for post in site.posts %}
        {% if prev %}
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <a href="{{ post.url }}">
            anterior
          </a>
        {% endif %}
        {% assign prev = false %}
        {% if post.id == page.id %}
          {% assign prev = true %}
        {% endif %}
    {% endfor %}
    |
    {% for post in site.posts reversed %}
        {% if next %}
          <a href="{{ post.url }}">
            siguiente
          </a>
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {% break %}
        {% endif %}
        {% assign next = false %}
        {% if post.id == page.id %}
          {% assign next = true %}
        {% endif %}
    {% endfor %}
    </div>
  </article>
</div>
